/* CSS Document zur Formatierung und Darstellung */
	body {
     display: grid; 
      grid-template-columns: 400px 400px 400px;
      grid-gap: 10px;
    color: white;

    } 
	
	.container1, .container2, .container3 {
      box-sizing: border-box;
      width: 100%;
    }
    .container1 {
      background-color: #ff0000;
      padding: 10px;
    }

    .container2 {
      background-color: #ee0000;
      padding: 10px;
    }

    .container3 {
      background-color: #cd0000;
      padding: 10px;
    }